Repository GreenBlitz/GB-Robot-Template, pull requests merged in 2024-12, with the labels that each got.

#478 Refactor TalonFXMotor to use functions -> core
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6DeviceID.java
  src/main/java/frc/robot/hardware/phoenix6/motor/TalonFXMotor.java
Labels: A-SMALL-PR, passed-all-tests

#477 Make MechanismSimulation an Interface + WPIMechanismSimulation -> core
  src/main/java/frc/robot/hardware/mechanisms/MechanismSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/SimpleMotorSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/WPILibMechanismSimulation.java
Labels: A-SMALL-PR, passed-all-tests

#488 Cr names -> core
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6DeviceID.java
  src/main/java/frc/robot/hardware/phoenix6/gyro/Pigeon2Wrapper.java
  src/main/java/frc/robot/hardware/phoenix6/motor/TalonFXWrapper.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
  src/main/java/frc/robot/hardware/phoenix6/signal/SignalGetter.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxDeviceID.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxWrapper.java
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusCharacterization.java
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#489 Time names -> core
  src/main/java/frc/utils/time/TimeUtils.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#492 Fix Module Deprecated -> module
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
Labels: A-SMALL-PR, passed-all-tests

#495 DigitalInput XOR -> core
  src/main/java/frc/robot/hardware/digitalinput/channeled/ChanneledDigitalInput.java
  src/main/java/frc/robot/hardware/digitalinput/supplied/SuppliedDigitalInput.java
Labels: A-SMALL-PR, passed-all-tests

#502 Names, default ID, magic numbers (core CR) -> core
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/hardware/mechanisms/MechanismSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/SimpleMotorSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/WPILibMechanismSimulation.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/phoenix6/motor/simulation/TalonFXSimulation.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencyAndSlopeSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
  src/main/java/frc/utils/time/TimeUtils.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#469 Simulations -> master
  src/main/java/frc/robot/hardware/mechanisms/wpilib/ElevatorSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/FlywheelSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/SingleJointedArmSimulation.java
Labels: A-SMALL-PR, passed-all-tests

#510 Swerve require -> core-swerve
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/module/ModulesCommandsBuilder.java
Labels: feature-improvment, A-SMALL-PR, needs-simulation-testing, no-need-of-robot-testing

#514 Update phoenix6 -> master
  vendordeps/Phoenix6.json
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#485 Poseestimator observation count helper
  src/main/java/frc/robot/poseestimator/helpers/DataAccumulator.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#518 Emily: Fix issue #2 by @DANNA2828
  codestyle.xml
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#493 Phoenix6 IsConnected -> master
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/phoenix6/angleencoder/CANCoderEncoder.java
  src/main/java/frc/robot/hardware/phoenix6/gyro/Pigeon2Gyro.java
  src/main/java/frc/robot/hardware/phoenix6/motor/TalonFXMotor.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#515 add isConnected to smartJoystick -> master
  src/main/java/frc/utils/joysticks/SmartJoystick.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#516 Use RobotManager constructor instead of RobotInit -> master
  src/main/java/frc/robot/RobotManager.java
Labels: A-SMALL-PR, passed-all-tests

#497 add-relative-functions-to-signals -> master
  src/main/java/frc/robot/hardware/interfaces/InputSignal.java
  src/main/java/frc/robot/hardware/signal/AngleSignal.java
  src/main/java/frc/robot/hardware/signal/DoubleSignal.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#520 Fix bus alerts -> master
  src/main/java/frc/robot/hardware/phoenix6/BusChain.java
  src/main/java/frc/utils/alerts/PeriodicAlert.java
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#523 Lol module
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/ModuleInputs.java
Labels: needs-robot-testing, A-MEDIUM-PR, needs-simulation-testing

#525 Module pos
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/records/ModuleSpecificConstants.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#526 Merge module
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/SimulationModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/RealEncoderConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SimulationSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/records/ModuleSpecificConstants.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/SwerveStateHelper.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#528 Clean -> master
  .gitignore
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/Field.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#498 poseestimator basic generalizations ⇉ master
  src/main/java/frc/robot/poseestimator/IVisionEstimator.java
  src/main/java/frc/robot/poseestimator/observations/VisionObservation.java
  src/main/java/frc/robot/vision/data/AprilTagVisionData.java
  src/main/java/frc/robot/vision/data/VisionData.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#530 Public Config TalonFXMotor -> master
  src/main/java/frc/robot/hardware/phoenix6/motor/TalonFXMotor.java
  src/main/java/frc/robot/hardware/phoenix6/motor/simulation/TalonFXSimulation.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#517 Merge master and core swerve
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/RealEncoderConstants.java
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#532 Better currentCommand subsystem logging
  src/main/java/frc/robot/subsystems/GBSubsystem.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#533 Module CR -> module
  src/main/java/frc/robot/constants/MathConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/records/ModuleSpecificConstants.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#537 Package Order -> master
  build.gradle
  src/main/java/frc/ComputerMain.java
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/Main.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/constants/DirectoryPaths.java
  src/main/java/frc/constants/Field.java
  src/main/java/frc/constants/GlobalConstants.java
  src/main/java/frc/constants/IPs.java
  src/main/java/frc/constants/MathConstants.java
  src/main/java/frc/joysticks/Axis.java
  src/main/java/frc/joysticks/AxisButton.java
  src/main/java/frc/joysticks/ButtonID.java
  src/main/java/frc/joysticks/JoystickPorts.java
  src/main/java/frc/joysticks/SmartJoystick.java
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/RobotType.java
  src/main/java/frc/utils/CMDHandler.java
  src/main/java/frc/utils/ComputerLogFile.java
  src/main/java/frc/utils/Conversions.java
  src/main/java/frc/utils/DriverStationUtils.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusCharacterization.java
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
  src/main/java/frc/utils/mirror/MirrorMath.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#539 Update REVLib new names -> Update REVLib
  src/main/java/frc/robot/hardware/rev/motors/BrushedSparkMAXMotor.java
  src/main/java/frc/robot/hardware/rev/motors/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxDeviceID.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxWrapper.java
  src/main/java/frc/robot/hardware/rev/request/SparkMaxRequest.java
  src/main/java/frc/robot/hardware/rev/request/SparkMaxRequestBuilder.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#541 SparkMaxConfiguration + sparkmax checkWithRetry -> rev-configs
  src/main/java/frc/robot/hardware/rev/REVUtils.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxConfiguration.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxWrapper.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#540 Adjust to new REV config -> rev-configs
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxWrapper.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#544 test
  build.gradle
  src/main/java/frc/ComputerMain.java
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/Main.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/constants/DirectoryPaths.java
  src/main/java/frc/constants/Field.java
  src/main/java/frc/constants/GlobalConstants.java
  src/main/java/frc/constants/IPs.java
  src/main/java/frc/constants/MathConstants.java
  src/main/java/frc/joysticks/Axis.java
  src/main/java/frc/joysticks/AxisButton.java
  src/main/java/frc/joysticks/ButtonID.java
  src/main/java/frc/joysticks/JoystickPorts.java
  src/main/java/frc/joysticks/SmartJoystick.java
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/RobotType.java
  src/main/java/frc/robot/hardware/phoenix6/motor/TalonFXMotor.java
  src/main/java/frc/robot/hardware/phoenix6/motor/simulation/TalonFXSimulation.java
  src/main/java/frc/robot/poseestimator/IVisionEstimator.java
  src/main/java/frc/robot/poseestimator/observations/VisionObservation.java
  src/main/java/frc/robot/subsystems/GBSubsystem.java
  src/main/java/frc/robot/subsystems/swerve/HeadingStabilizer.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/records/ModuleSpecificConstants.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssistMath.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/SwerveStateHelper.java
  src/main/java/frc/robot/vision/data/AprilTagVisionData.java
  src/main/java/frc/robot/vision/data/VisionData.java
  src/main/java/frc/utils/CMDHandler.java
  src/main/java/frc/utils/ComputerLogFile.java
  src/main/java/frc/utils/Conversions.java
  src/main/java/frc/utils/DriverStationUtils.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusCharacterization.java
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
  src/main/java/frc/utils/mirror/MirrorMath.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#545 Velocity Setpoint Fix -> update-rev
  src/main/java/frc/robot/hardware/rev/request/SparkMaxRequest.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#550 Phoenix6 file motor->motors -> master
  src/main/java/frc/robot/hardware/phoenix6/motors/TalonFXMotor.java
  src/main/java/frc/robot/hardware/phoenix6/motors/TalonFXWrapper.java
  src/main/java/frc/robot/hardware/phoenix6/motors/simulation/TalonFXSimulation.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#499 poseestimator vision filters ➺ master
  src/main/java/frc/robot/vision/VisionFilters.java
  src/main/java/frc/utils/Filter.java
  src/main/java/frc/utils/ToleranceUtils.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#554 Autonomous Constants -> master
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
Labels: feature-creation, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#549 Template Acceptation -> master
  src/main/java/frc/Acceptation.md
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/constants/field/FieldCalibrations.md
  src/main/java/frc/robot/vision/VisionFilters.java
  src/main/java/frc/utils/mirror/MirrorMath.java
Labels: feature-improvment, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#553 Swerve Constants, Calibration File -> master
  src/main/java/frc/robot/subsystems/swerve/Calibrations.md
  src/main/java/frc/robot/subsystems/swerve/GyroSignals.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
Labels: feature-creation, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#538 Update REVLib -> master
  src/main/java/frc/robot/hardware/rev/motors/BrushedSparkMAXMotor.java
  src/main/java/frc/robot/hardware/rev/motors/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxDeviceID.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxWrapper.java
  src/main/java/frc/robot/hardware/rev/request/SparkMaxRequest.java
  src/main/java/frc/robot/hardware/rev/request/SparkMaxRequestBuilder.java
  vendordeps/REVLib.json
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing, feature-update-version

#543 REV configs -> update-rev
  src/main/java/frc/robot/hardware/rev/REVUtils.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxConfiguration.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxWrapper.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, feature-update-version

#556 Aim Assist Accept -> master
  src/main/java/frc/robot/subsystems/swerve/Calibrations.md
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing
