Repository GreenBlitz/GB-Robot-Template, pull requests merged in 2024-10, with the labels that each got.

#390 SparkMAX getVoltage
  src/main/java/frc/robot/hardware/motor/sparkmax/SparkMaxWrapper.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#391 Ignore
  .git-blame-ignore-revs
  .gitignore
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/Field.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/poseestimation/OdometryObservation.java
  src/main/java/frc/robot/subsystems/swerve/GyroStuff.java
  src/main/java/frc/robot/subsystems/swerve/HeadingStabilizer.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/SwerveState.java
  src/main/java/frc/robot/subsystems/swerve/SwerveType.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SwerveConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/DriveInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/DriveStuff.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/EncoderStuff.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/SteerStuff.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssist.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssistMath.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/DriveRelative.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/DriveSpeed.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/HeadingControl.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/LoopMode.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/RotateAxis.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/SwerveStateHelper.java
  src/main/java/frc/robot/superstructure/Tolerances.java
  src/main/java/frc/utils/joysticks/Axis.java
  src/main/java/frc/utils/pathplannerutils/LocalADStarAK.java
  src/main/java/frc/utils/pathplannerutils/PathPlannerUtils.java
Labels: A-BIG-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#394 Swerve dev
  .git-blame-ignore-revs
  .gitignore
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/Field.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/poseestimation/OdometryObservation.java
  src/main/java/frc/robot/subsystems/swerve/GyroStuff.java
  src/main/java/frc/robot/subsystems/swerve/HeadingStabilizer.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/SwerveState.java
  src/main/java/frc/robot/subsystems/swerve/SwerveType.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SwerveConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/DriveInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/DriveStuff.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/EncoderStuff.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/SteerStuff.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssist.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssistMath.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/DriveRelative.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/DriveSpeed.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/HeadingControl.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/LoopMode.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/RotateAxis.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/SwerveStateHelper.java
  src/main/java/frc/robot/superstructure/Tolerances.java
  src/main/java/frc/utils/joysticks/Axis.java
  src/main/java/frc/utils/pathplannerutils/LocalADStarAK.java
  src/main/java/frc/utils/pathplannerutils/PathPlannerUtils.java
Labels: A-BIG-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#401 Return Feedforward Calc -> core
  src/main/java/frc/robot/hardware/motor/sparkmax/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/request/cansparkmax/SparkMaxAngleRequest.java
Labels: A-SMALL-PR, passed-all-tests

#384 pp dev -> core
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/utils/auto/AutonomousChooser.java
  src/main/java/frc/utils/auto/PathPlannerUtils.java
  vendordeps/PathPlannerLib.json
Labels: feature-creation, A-SMALL-PR, passed-all-tests

#413 abs yaw
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#414 isDisabled -> core
  src/main/java/frc/utils/DriverStationUtils.java
  src/main/java/frc/utils/joysticks/Axis.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#410 Time Utils -> core
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/hardware/signal/phoenix/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/signal/phoenix/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/signal/phoenix/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedAngleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedDoubleSignal.java
  src/main/java/frc/robot/simulation/ElevatorSimulation.java
  src/main/java/frc/robot/simulation/FlywheelSimulation.java
  src/main/java/frc/robot/simulation/SimpleMotorSimulation.java
  src/main/java/frc/robot/simulation/SingleJointedArmSimulation.java
  src/main/java/frc/utils/alerts/Alert.java
  src/main/java/frc/utils/cycletime/CycleTimeConstants.java
  src/main/java/frc/utils/cycletime/CycleTimeUtils.java
  src/main/java/frc/utils/time/TimeConstants.java
  src/main/java/frc/utils/time/TimeUtils.java
Labels: bug-fix, A-SMALL-PR, passed-all-tests

#421 Calibrations Page -> module
  src/main/java/frc/robot/subsystems/swerve/module/Calibrations
Labels: feature-improvment, no-need-of-robot-testing, no-need-of-simulation-testing

#425 rm saved-state
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/structures/Superstructure.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#416 Dynamic Tolerances -> module
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/ModuleInputs.java
Labels: A-SMALL-PR, needs-simulation-testing, no-need-of-robot-testing

#420 Commands -> module
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/ModulesCommandsBuilder.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#433 names
  src/main/java/frc/robot/hardware/angleencoder/phoenix6/CANCoderEncoder.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/signal/phoenix6/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/signal/phoenix6/Phoenix6BothLatencySignal.java
  src/main/java/frc/robot/hardware/signal/phoenix6/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/signal/phoenix6/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/signal/phoenix6/Phoenix6SignalBuilder.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#434 Clean
  src/main/java/frc/robot/hardware/motor/sparkmax/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/request/cansparkmax/SparkMaxAngleRequest.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing
