Repository GreenBlitz/GB-Robot-Template, pull requests merged in 2024-11, with the labels that each got.

#437 <?>
  src/main/java/frc/robot/hardware/EmptyDevice.java
  src/main/java/frc/robot/hardware/IDevice.java
  src/main/java/frc/robot/hardware/motor/sparkmax/SparkMaxMotor.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#430 Add getSetPoint to request -> core
  gradlew
  src/main/java/frc/robot/hardware/request/IRequest.java
  src/main/java/frc/robot/hardware/request/cansparkmax/SparkMaxAngleRequest.java
  src/main/java/frc/robot/hardware/request/cansparkmax/SparkMaxDoubleRequest.java
  src/main/java/frc/robot/hardware/request/phoenix6/Phoenix6AngleRequest.java
  src/main/java/frc/robot/hardware/request/phoenix6/Phoenix6DoubleRequest.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#438 Report signals -> core
  src/main/java/frc/robot/hardware/EmptyDevice.java
  src/main/java/frc/robot/hardware/IDevice.java
  src/main/java/frc/robot/hardware/gyro/phoenix6/Pigeon2Wrapper.java
  src/main/java/frc/robot/hardware/motor/phoenix6/TalonFXWrapper.java
  src/main/java/frc/robot/hardware/motor/sparkmax/SparkMaxMotor.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Utils.java
  src/main/java/frc/robot/hardware/signal/AngleSignal.java
  src/main/java/frc/robot/hardware/signal/DoubleSignal.java
  src/main/java/frc/robot/hardware/signal/InputSignal.java
  src/main/java/frc/robot/hardware/signal/phoenix6/Phoenix6SignalBuilder.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#442 clean
  src/main/java/frc/robot/hardware/motor/sparkmax/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/request/cansparkmax/SparkMaxRequest.java
  src/main/java/frc/robot/hardware/request/phoenix6/Phoenix6Request.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#439 Cycle count and Average Cycle time -> core
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/utils/time/TimeUtils.java
Labels: feature-creation, A-SMALL-PR, passed-all-tests

#435 adding dependencey injection to to digital input -> core
  src/main/java/frc/robot/hardware/digitalinput/channeled/ChanneledDigitalInput.java
  src/main/java/frc/robot/hardware/digitalinput/supplied/SuppliedDigitalInput.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#440 Never wrap function name to next line
  codestyle.xml
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
Labels: bug-fix, A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#446 fiorma
  src/main/java/frc/robot/hardware/rev/request/SparkMaxRequestBuilder.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#447 names
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusCharacterization.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#448 Rm Sim -> core
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/simulation/ElevatorSimulation.java
  src/main/java/frc/robot/simulation/FlywheelSimulation.java
  src/main/java/frc/robot/simulation/GyroSimulation.java
  src/main/java/frc/robot/simulation/MotorSimulation.java
  src/main/java/frc/robot/simulation/SimpleMotorSimulation.java
  src/main/java/frc/robot/simulation/SimulationManager.java
  src/main/java/frc/robot/simulation/SingleJointedArmSimulation.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#449 update vendors versions -> core
  build.gradle
  src/main/deploy/pathplanner/navgrid.json
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/utils/auto/PathPlannerUtils.java
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
  vendordeps/AdvantageKit.json
  vendordeps/ChoreoLib.json
  vendordeps/PathPlannerLib.json
  vendordeps/Phoenix5.json
  vendordeps/Phoenix6.json
  vendordeps/REVLib.json
  vendordeps/WPILibNewCommands.json
Labels: feature-improvment, A-BIG-PR, passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing

#453 CTRE Simulation -> core
  src/main/java/frc/robot/hardware/interfaces/IMotor.java
  src/main/java/frc/robot/hardware/mechanisms/MechanismSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/SimpleMotorSimulation.java
  src/main/java/frc/robot/hardware/phoenix6/motor/TalonFXMotor.java
  src/main/java/frc/robot/hardware/phoenix6/motor/simulation/TalonFXSimulation.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#429 Add function getVelocitiy to SparkMaxMotor -> core
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxWrapper.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#455 names
  src/main/java/frc/robot/hardware/mechanisms/MechanismSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/SimpleMotorSimulation.java
  src/main/java/frc/robot/hardware/phoenix6/motor/simulation/TalonFXSimulation.java
Labels: A-SMALL-PR, passed-all-tests, clean

#445 Coupling Inputs -> module
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/DriveCouplingInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/DriveInputs.java
Labels: needs-robot-testing, A-SMALL-PR, clean, no-need-of-simulation-testing

#456 SparkMaxRequest gets rps -> core
  src/main/java/frc/robot/hardware/rev/motors/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/rev/request/SparkMaxRequest.java
Labels: A-SMALL-PR, passed-all-tests

#450 Remove Stuff From Module -> module
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/records/DriveRequests.java
  src/main/java/frc/robot/subsystems/swerve/module/records/DriveSignals.java
  src/main/java/frc/robot/subsystems/swerve/module/records/EncoderSignals.java
  src/main/java/frc/robot/subsystems/swerve/module/records/SteerRequests.java
  src/main/java/frc/robot/subsystems/swerve/module/records/SteerSignals.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/DriveStuff.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/EncoderStuff.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/SteerStuff.java
Labels: A-SMALL-PR, passed-all-tests, clean, no-need-of-robot-testing

#458 Rm Gyro Stuff -> core-swerve
  src/main/java/frc/robot/subsystems/swerve/GyroSignals.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#460 Factories and Simulation -> core-swerve
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/hardware/phoenix6/angleencoder/CANCoderEncoder.java
  src/main/java/frc/robot/hardware/phoenix6/gyro/Pigeon2Gyro.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/SimulationGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/SimulationModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/TalonFXDriveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/RealEncoderConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/SimulationEncoderConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/TalonFXSteerConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SimulationSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SwerveConstantsFactory.java
Labels: feature-improvment, A-MEDIUM-PR, passed-all-tests, clean, no-need-of-robot-testing

#465 Remove finished -> swerve
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#468 Require=swerve
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/module/ModulesCommandsBuilder.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#452 PP Robot Config -> core-swerve
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/utils/auto/PathPlannerUtils.java
Labels: bug-fix, waiting-for-another-pr, A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#466 PoseEstimator interfacing with outer classes
  src/main/java/frc/robot/poseestimator/IOdometryEstimator.java
  src/main/java/frc/robot/poseestimator/IPoseEstimator.java
  src/main/java/frc/robot/poseestimator/IVisionEstimator.java
  src/main/java/frc/robot/poseestimator/observations/OdometryObservation.java
  src/main/java/frc/robot/poseestimator/observations/VisionObservation.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#473 Remove Choreo -> core
  vendordeps/ChoreoLib.json
Labels: bug-fix, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#462 Update phoenix -> core
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/phoenix6/gyro/Pigeon2Wrapper.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6BothLatencySignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
  vendordeps/Phoenix5.json
  vendordeps/Phoenix6.json
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#189 Automatic Formatting -> core
  .gitignore
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  scripts/git-hooks/post-checkout
  scripts/git-hooks/post-commit
Labels: feature-improvment, feature-creation, A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#475 Revert "Automatic Formatting -> core"
  .gitignore
  .scripts/post-checkout
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  scripts/git-hooks/post-commit
Labels: bug-fix, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#474 Fix issue #1
  codestyle.xml
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#463 Add test paths
  src/main/deploy/pathplanner/autos/Rotate 2m.auto
  src/main/deploy/pathplanner/autos/Rotate.auto
  src/main/deploy/pathplanner/autos/Straight 2m.auto
  src/main/deploy/pathplanner/paths/Rotate 2m.path
  src/main/deploy/pathplanner/paths/Rotate.path
  src/main/deploy/pathplanner/paths/Straight 2m.path
  src/main/deploy/pathplanner/settings.json
Labels: feature-creation, A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#471 More than one drive requirement -> core
  src/main/java/frc/utils/auto/PathPlannerUtils.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#476 Time Related Data (cr fix) -> core
  src/main/java/frc/robot/RobotManager.java
Labels: A-SMALL-PR, passed-all-tests, clean, no-need-of-robot-testing

#479 names
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/hardware/digitalinput/chooser/ChooserDigitalInput.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#483 Comment -> core
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing
