Repository GreenBlitz/GB-Robot-Template, pull requests merged in 2024-08, with the labels that each got.

#272 yoav : coller factories
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/RealSteerConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/replay/EmptyDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/simulation/SimulationDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/talonfx/TalonFXDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/encoder/cancoder/CancoderEncoder.java
  src/main/java/frc/robot/subsystems/swerve/modules/encoder/simulation/EmptyEncoder.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/simulation/SimulationSteer.java
  src/main/java/frc/robot/subsystems/swerve/odometryThread/PhoenixOdometryThread6328.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#273 Small Pigeon2Gyro
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/gyro/ISwerveGyro.java
  src/main/java/frc/robot/subsystems/swerve/gyro/SwerveGyroInputs.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2Gyro.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2GyroActions.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2GyroConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2GyroSignals.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2GyroStatus.java
  src/main/java/frc/robot/subsystems/swerve/gyro/replay/EmptySwerveGyro.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#275 Connected False Gyro
  src/main/java/frc/robot/subsystems/swerve/gyro/SwerveGyroInputs.java
Labels: needs-robot-testing

#279 del
  src/main/java/frc/robot/Robot.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#277 Non static swerve name -> swerve
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveName.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/SimulationModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SimulationSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SwerveConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/gyro/SwerveGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2Gyro.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/modules/Modules.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/RotateAxis.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#254 Configs Applier -> master
  src/main/java/frc/utils/ctre/PhoenixProUtils.java
  src/main/java/frc/utils/devicewrappers/TalonFXWrapper.java
Labels: feature-creation, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#281 Reformat -> format
  src/main/java/frc/robot/ComputerMain.java
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Main.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/DirectoryPaths.java
  src/main/java/frc/robot/constants/Field.java
  src/main/java/frc/robot/constants/GlobalConstants.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/constants/IPs.java
  src/main/java/frc/robot/constants/LogPaths.java
  src/main/java/frc/robot/constants/MathConstants.java
  src/main/java/frc/robot/simulation/ElevatorSimulation.java
  src/main/java/frc/robot/simulation/FlywheelSimulation.java
  src/main/java/frc/robot/simulation/GyroSimulation.java
  src/main/java/frc/robot/simulation/MotorSimulation.java
  src/main/java/frc/robot/simulation/SimpleMotorSimulation.java
  src/main/java/frc/robot/simulation/SimulationManager.java
  src/main/java/frc/robot/simulation/SingleJointedArmSimulation.java
  src/main/java/frc/utils/CMDHandler.java
  src/main/java/frc/utils/ComputerLogFile.java
  src/main/java/frc/utils/Conversions.java
  src/main/java/frc/utils/DriverStationUtils.java
  src/main/java/frc/utils/GBSubsystem.java
  src/main/java/frc/utils/RobotTypeUtils.java
  src/main/java/frc/utils/battery/BatteryConstants.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusCharacterization.java
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusConstants.java
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
  src/main/java/frc/utils/calibration/sysid/SysIdConstants.java
  src/main/java/frc/utils/ctre/BusChain.java
  src/main/java/frc/utils/ctre/BusStatus.java
  src/main/java/frc/utils/ctre/CTREDeviceID.java
  src/main/java/frc/utils/ctre/PhoenixProUtils.java
  src/main/java/frc/utils/cycletime/CycleTimeConstants.java
  src/main/java/frc/utils/cycletime/CycleTimeUtils.java
  src/main/java/frc/utils/devicewrappers/Pigeon2Wrapper.java
  src/main/java/frc/utils/devicewrappers/TalonFXWrapper.java
  src/main/java/frc/utils/joysticks/Axis.java
  src/main/java/frc/utils/joysticks/AxisButton.java
  src/main/java/frc/utils/joysticks/ButtonID.java
  src/main/java/frc/utils/joysticks/JoystickPorts.java
  src/main/java/frc/utils/joysticks/SmartJoystick.java
  src/main/java/frc/utils/logger/LogSavePath.java
  src/main/java/frc/utils/logger/LoggerFactory.java
  src/main/java/frc/utils/mirror/MirrorUtils.java
  src/main/java/frc/utils/utilcommands/ExecuteEndCommand.java
  src/main/java/frc/utils/utilcommands/InitExecuteCommand.java
  src/main/java/frc/utils/utilcommands/LoggedDashboardCommand.java
Labels: A-BIG-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#240 Log table bool -> master
  src/main/java/frc/utils/dashboard/LoggedTableBoolean.java
Labels: needs-robot-testing, feature-creation, A-SMALL-PR, needs-simulation-testing

#286 Fix Robot
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/MathConstants.java
  src/main/java/frc/robot/simulation/GyroSimulation.java
  src/main/java/frc/utils/dashboard/LoggedTableBoolean.java
Labels: feature-improvment, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#287 FIX utils
  src/main/java/frc/utils/GBSubsystem.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
  src/main/java/frc/utils/calibration/sysid/SysIdConstants.java
  src/main/java/frc/utils/dashboard/LoggedTableBoolean.java
  src/main/java/frc/utils/mirror/MirrorMath.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#288 Format swerve
  codestyle.xml
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Main.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/Field.java
  src/main/java/frc/robot/poseestimation/PoseEstimator.java
  src/main/java/frc/robot/poseestimation/PoseEstimatorConstants.java
  src/main/java/frc/robot/poseestimation/posecalculation/PoseCalculator.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/SwerveState.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerSimulationConstants.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2Gyro.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleInputsContainer.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/simulation/SimulationDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/simulation/SimulationDriveConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/talonfx/TalonFXDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/talonfx/TalonFXDriveConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/talonfx/TalonFXSteer.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/talonfx/TalonFXSteerConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/talonfx/TalonFXSteerConstants.java
  src/main/java/frc/robot/subsystems/swerve/odometryThread/PhoenixOdometryThread6328.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssist.java
  src/main/java/frc/utils/Conversions.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
  src/main/java/frc/utils/devicewrappers/Pigeon2Wrapper.java
  src/main/java/frc/utils/devicewrappers/TalonFXWrapper.java
  src/main/java/frc/utils/pathplannerutils/LocalADStarAK.java
  src/main/java/frc/utils/utilcommands/LoggedDashboardCommand.java
Labels: A-MEDIUM-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#289 Gyro Alert -> swerve
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/poseestimation/PoseEstimator.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2Gyro.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/utils/GBSubsystem.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#294 Fixes -> swerve
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleInputs.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#295 Delete LogTableBoolean -> master
  src/main/java/frc/utils/dashboard/LoggedTableBoolean.java
Labels: A-SMALL-PR, passed-all-tests

#296 Robot Type -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotType.java
  src/main/java/frc/utils/RobotTypeUtils.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#297 Structure -> swerve
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/poseestimation/PoseEstimator.java
  src/main/java/frc/robot/poseestimation/PoseEstimatorConstants.java
  src/main/java/frc/robot/strcutures/SuperStructure.java
  src/main/java/frc/robot/strcutures/SuperStructureConstants.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
Labels: feature-improvment, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#299 Update By Master -> swerve
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotType.java
  src/main/java/frc/utils/RobotTypeUtils.java
  src/main/java/frc/utils/dashboard/LoggedTableBoolean.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#301 Acc Gyro -> swerve
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/gyro/SwerveGyroInputs.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2Gyro.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#302 Gyro Naming -> swerve
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/gyro/GyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/gyro/GyroInputs.java
  src/main/java/frc/robot/subsystems/swerve/gyro/IGyro.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2Gyro.java
  src/main/java/frc/robot/subsystems/swerve/gyro/replay/EmptyGyro.java
  src/main/java/frc/robot/subsystems/swerve/gyro/replay/EmptySwerveGyro.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#298 Auto Computer Programs -> master
  build.gradle
  src/main/java/frc/robot/ComputerMain.java
  src/main/java/frc/utils/ComputerLogFile.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#303 Remove Replay
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/RobotType.java
  src/main/java/frc/utils/logger/LoggerFactory.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#280 Battery Message -> master
  noam-battery-message.png
  src/main/java/frc/robot/ComputerMain.java
  src/main/java/frc/robot/constants/GlobalConstants.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/python/BatteryMessage.py
  src/main/python/NetworkTableManager.py
Labels: feature-creation, A-SMALL-PR, passed-all-tests

#300 SysId Routine -> swerve
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveSimulationConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerSimulationConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/Modules.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/IDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/replay/EmptyDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/simulation/SimulationDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/simulation/SimulationDriveConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/talonfx/TalonFXDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/talonfx/TalonFXDriveConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/ISteer.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/replay/EmptySteer.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/simulation/SimulationSteer.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/simulation/SimulationSteerConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/talonfx/TalonFXSteer.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/talonfx/TalonFXSteerConstants.java
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#291 Heading Controller -> swerve
  src/main/java/frc/robot/subsystems/swerve/HeadingStabilizer.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveState.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/HeadingControl.java
Labels: feature-creation, A-SMALL-PR, passed-all-tests

#306 Inputs -> swerve
  .gitignore
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SimulationSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/IDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/simulation/SimulationDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/talonfx/TalonFXDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/encoder/IEncoder.java
  src/main/java/frc/robot/subsystems/swerve/modules/encoder/cancoder/CancoderEncoder.java
  src/main/java/frc/robot/subsystems/swerve/modules/encoder/simulation/EmptyEncoder.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/ISteer.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/simulation/SimulationSteer.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/talonfx/TalonFXSteer.java
  src/main/python/__pycache__/NetworkTableManager.cpython-312.pyc
Labels: A-SMALL-PR, passed-all-tests, clean, no-need-of-robot-testing

#307 Naming
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/strcutures/SuperStructure.java
  src/main/java/frc/robot/strcutures/SuperStructureConstants.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssist.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/RotateAxis.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#308 naming & spaces
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#270 State helper -> swerve
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssist.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssistMath.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/RotateAxis.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/SwerveStateHelper.java
  src/main/java/frc/utils/joysticks/Axis.java
Labels: feature-creation, A-SMALL-PR, passed-all-tests

#284 Retry status code -> swerve
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2Gyro.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleInputsContainer.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/DriveConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/talonfx/TalonFXDriveConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/talonfx/TalonFXDriveConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/encoder/EncoderConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/encoder/cancoder/CancoderEncoder.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/SteerConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/talonfx/TalonFXSteerConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/talonfx/TalonFXSteerConstants.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#293 Bus Status -> master
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/utils/ctre/BusChain.java
  src/main/java/frc/utils/ctre/BusStatus.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#311 Update swerve
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/utils/ctre/BusChain.java
  src/main/java/frc/utils/ctre/BusStatus.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#312 naming
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/GlobalConstants.java
  src/main/java/frc/robot/structures/SuperStructure.java
  src/main/java/frc/robot/structures/SuperStructureConstants.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SimulationSwerveConstants.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#315 Naming
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/gyro/EmptyGyro.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2Gyro.java
  src/main/java/frc/robot/subsystems/swerve/modules/drive/talonfx/TalonFXDrive.java
  src/main/java/frc/robot/subsystems/swerve/modules/encoder/EmptyEncoder.java
  src/main/java/frc/robot/subsystems/swerve/modules/encoder/simulation/EmptyEncoder.java
  src/main/java/frc/robot/subsystems/swerve/modules/steer/talonfx/TalonFXSteer.java
  src/main/java/frc/robot/subsystems/swerve/phoenix6signalsthread/Phoenix6SignalsThread.java
  src/main/java/frc/robot/subsystems/swerve/phoenix6signalsthread/Phoenix6SignalsThreadConstants.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#316 Fix deadband
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#323 Sysid Swerve
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing
