Repository GreenBlitz/GB-Robot-Template, pull requests merged in 2024-07, with the labels that each got.

#204 CTREUtils
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/utils/CTREUtils/BusChain.java
  src/main/java/frc/utils/CTREUtils/BusStatus.java
  src/main/java/frc/utils/CTREUtils/CTREDeviceID.java
  src/main/java/frc/utils/CTREUtils/PhoenixProUtils.java
  src/main/java/frc/utils/devicewrappers/Pigeon2Wrapper.java
  src/main/java/frc/utils/devicewrappers/TalonFXWrapper.java
Labels: fix-bug, A-SMALL-PR, passed-all-tests

#201 Computer Log File
  .github/workflows/addTestsLabels.yml
  .github/workflows/compile.yml
  .gitignore
  src/main/java/frc/robot/ComputerMain.java
  src/main/java/frc/robot/constants/DirectoryPathsConstants.java
  src/main/java/frc/utils/CMDHandler.java
  src/main/java/frc/utils/ComputerLogFile.java
  src/main/java/frc/utils/applicationsutils/CMDHandler.java
Labels: feature-creation, A-SMALL-PR, needs-simulation-testing, no-need-of-robot-testing

#213 Yoni - changed to process builder
  src/main/java/frc/utils/CMDHandler.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#215 Inputs
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/swerve/modules/IModule.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleFactory.java
  src/main/java/frc/robot/subsystems/swerve/modules/inputs/DriveMotorInputs.java
  src/main/java/frc/robot/subsystems/swerve/modules/inputs/EncoderInputs.java
  src/main/java/frc/robot/subsystems/swerve/modules/inputs/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/modules/inputs/ModuleInputsContainer.java
  src/main/java/frc/robot/subsystems/swerve/modules/inputs/SteerMotorInputs.java
  src/main/java/frc/robot/subsystems/swerve/modules/mk4i/MK4IModule.java
  src/main/java/frc/robot/subsystems/swerve/modules/mk4i/MK4IModuleStatus.java
  src/main/java/frc/robot/subsystems/swerve/modules/moduleinterface/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/modules/replay/ReplayModule.java
  src/main/java/frc/robot/subsystems/swerve/modules/simulation/SimulationModule.java
  src/main/java/frc/robot/subsystems/swerve/odometryThread/PhoenixOdometryThread6328.java
  src/main/python/NetworkTableManager.py
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#216 Coupling
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/inputs/DriveMotorInputs.java
  src/main/java/frc/robot/subsystems/swerve/modules/mk4i/MK4IModule.java
  src/main/java/frc/robot/subsystems/swerve/modules/simulation/SimulationModule.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#217 I Swerve Constants
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/typeconstants/ISwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/typeconstants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/typeconstants/SimulationSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/typeconstants/SwerveConstantsFactory.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#218 DI Swerving
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/gyro/SwerveGyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2Gyro.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2GyroConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2GyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleFactory.java
  src/main/java/frc/robot/subsystems/swerve/modules/mk4i/MK4IModule.java
  src/main/java/frc/robot/subsystems/swerve/modules/mk4i/MK4IModuleConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/modules/mk4i/MK4IModuleConstants.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#221 Commands
  src/main/java/frc/robot/subsystems/swerve/SwerveCommands.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#193 PR for all java frc code on master (BIG CR TO MASTER)!!!!
  .github/workflows/addTestsLabels.yml
  .github/workflows/compile.yml
  .gitignore
  src/main/java/frc/robot/ComputerMain.java
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Main.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/DeviceIDs.java
  src/main/java/frc/robot/constants/DirectoryPathsConstants.java
  src/main/java/frc/robot/constants/FieldConstants.java
  src/main/java/frc/robot/constants/GlobalConstants.java
  src/main/java/frc/robot/constants/LogPathsConstants.java
  src/main/java/frc/robot/constants/MathConstants.java
  src/main/java/frc/robot/simulation/ElevatorSimulation.java
  src/main/java/frc/robot/simulation/FlywheelSimulation.java
  src/main/java/frc/robot/simulation/GyroSimulation.java
  src/main/java/frc/robot/simulation/MotorSimulation.java
  src/main/java/frc/robot/simulation/SimpleMotorSimulation.java
  src/main/java/frc/robot/simulation/SimulationManager.java
  src/main/java/frc/robot/simulation/SingleJointedArmSimulation.java
  src/main/java/frc/utils/CMDHandler.java
  src/main/java/frc/utils/ComputerLogFile.java
  src/main/java/frc/utils/Conversions.java
  src/main/java/frc/utils/DriverStationUtils.java
  src/main/java/frc/utils/GBSubsystem.java
  src/main/java/frc/utils/RobotTypeUtils.java
  src/main/java/frc/utils/battery/BatteryConstants.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusCharacterization.java
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusConstants.java
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
  src/main/java/frc/utils/calibration/sysid/SysIdConstants.java
  src/main/java/frc/utils/ctre/BusChain.java
  src/main/java/frc/utils/ctre/BusStatus.java
  src/main/java/frc/utils/ctre/CTREDeviceID.java
  src/main/java/frc/utils/ctre/PhoenixProUtils.java
  src/main/java/frc/utils/cycletime/CycleTimeConstants.java
  src/main/java/frc/utils/cycletime/CycleTimeUtils.java
  src/main/java/frc/utils/devicewrappers/Pigeon2Wrapper.java
  src/main/java/frc/utils/devicewrappers/TalonFXWrapper.java
  src/main/java/frc/utils/joysticks/Axis.java
  src/main/java/frc/utils/joysticks/AxisButton.java
  src/main/java/frc/utils/joysticks/ButtonID.java
  src/main/java/frc/utils/joysticks/JoystickPorts.java
  src/main/java/frc/utils/joysticks/SmartJoystick.java
  src/main/java/frc/utils/logger/LogSavePath.java
  src/main/java/frc/utils/logger/LoggerFactory.java
  src/main/java/frc/utils/mirror/MirrorUtils.java
  src/main/java/frc/utils/utilcommands/ExecuteEndCommand.java
  src/main/java/frc/utils/utilcommands/InitExecuteCommand.java
  src/main/java/frc/utils/utilcommands/LoggedDashboardCommand.java
Labels: feature-improvment, A-BIG-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#222 Pre master
  .gitignore
  src/main/java/frc/robot/ComputerMain.java
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Main.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/DeviceIDs.java
  src/main/java/frc/robot/constants/DirectoryPathsConstants.java
  src/main/java/frc/robot/constants/FieldConstants.java
  src/main/java/frc/robot/constants/GlobalConstants.java
  src/main/java/frc/robot/constants/LogPathsConstants.java
  src/main/java/frc/robot/constants/Phoenix6Constants.java
  src/main/java/frc/robot/constants/Ports.java
  src/main/java/frc/robot/simulation/ElevatorSimulation.java
  src/main/java/frc/robot/simulation/FlywheelSimulation.java
  src/main/java/frc/robot/simulation/MotorSimulation.java
  src/main/java/frc/robot/simulation/SimpleMotorSimulation.java
  src/main/java/frc/robot/simulation/SimulationManager.java
  src/main/java/frc/robot/simulation/SingleJointedArmSimulation.java
  src/main/java/frc/utils/CMDHandler.java
  src/main/java/frc/utils/CTREUtils/CANStatus.java
  src/main/java/frc/utils/CTREUtils/CTREDeviceID.java
  src/main/java/frc/utils/ComputerLogFile.java
  src/main/java/frc/utils/Conversions.java
  src/main/java/frc/utils/DriverStationUtils.java
  src/main/java/frc/utils/RobotTypeUtils.java
  src/main/java/frc/utils/applicationsutils/CMDHandler.java
  src/main/java/frc/utils/applicationsutils/OnDeploy.java
  src/main/java/frc/utils/battery/BatteryConstants.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/batteryutils/Battery.java
  src/main/java/frc/utils/batteryutils/BatteryConstants.java
  src/main/java/frc/utils/batteryutils/BatteryLimiter.java
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusCharacterization.java
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusConstants.java
  src/main/java/frc/utils/ctre/BusChain.java
  src/main/java/frc/utils/ctre/BusStatus.java
  src/main/java/frc/utils/ctre/CTREDeviceID.java
  src/main/java/frc/utils/ctre/PhoenixProUtils.java
  src/main/java/frc/utils/cycletime/CycleTimeConstants.java
  src/main/java/frc/utils/cycletime/CycleTimeUtils.java
  src/main/java/frc/utils/cycletimeutils/CycleTimeConstants.java
  src/main/java/frc/utils/devicewrappers/Pigeon2Wrapper.java
  src/main/java/frc/utils/devicewrappers/TalonFXWrapper.java
  src/main/java/frc/utils/joysticks/Axis.java
  src/main/java/frc/utils/joysticks/ButtonID.java
  src/main/java/frc/utils/joysticks/JoystickPorts.java
  src/main/java/frc/utils/joysticks/SmartJoystick.java
  src/main/java/frc/utils/joysticks/SmartJoystickConstants.java
  src/main/java/frc/utils/logger/LogSavePath.java
  src/main/java/frc/utils/logger/LoggerFactory.java
  src/main/java/frc/utils/loggerutils/LoggerConstants.java
  src/main/java/frc/utils/loggerutils/LoggerUtils.java
  src/main/java/frc/utils/mirror/MirrorUtils.java
  src/main/java/frc/utils/mirrorutils/Mirrorable.java
  src/main/java/frc/utils/mirrorutils/MirrorablePose2d.java
  src/main/java/frc/utils/mirrorutils/MirrorableRotation2d.java
  src/main/java/frc/utils/mirrorutils/MirrorableTranslation3d.java
Labels: A-BIG-PR, passed-all-tests

#225 noam - changed from CANBUS to ROBORIO for the RIO's bus
  src/main/java/frc/utils/ctre/BusChain.java
  src/main/java/frc/utils/ctre/CTREDeviceID.java
Labels: A-SMALL-PR, passed-all-tests

#228 yoav: path to pose, transaltion controller resr
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommands.java
  src/main/java/frc/robot/subsystems/swerve/SwerveState.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#226 Feature/turret talonfx
  src/main/java/frc/robot/constants/DeviceIDs.java
  src/main/java/frc/robot/constants/GlobalConstants.java
  src/main/java/frc/robot/turret/talonfx/TalonFXTurret.java
  src/main/java/frc/robot/turret/talonfx/TalonFXTurretConstants.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#230 noam - added is alive input
  src/main/java/frc/robot/turret/TurretInputs.java
  src/main/java/frc/robot/turret/simulation/SimulationTurret.java
  src/main/java/frc/robot/turret/talonfx/TalonFXTurret.java
Labels: needs-robot-testing, A-SMALL-PR

#196 Gradle Improvement
  build.gradle
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#198 Fix SysId
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
Labels: fix-bug, A-SMALL-PR, passed-all-tests

#232 IPs -> master
  src/main/java/frc/robot/constants/DirectoryPaths.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/constants/IPs.java
  src/main/java/frc/robot/constants/LogPaths.java
  src/main/java/frc/utils/CMDHandler.java
  src/main/java/frc/utils/ComputerLogFile.java
  src/main/java/frc/utils/battery/BatteryConstants.java
  src/main/java/frc/utils/ctre/BusChain.java
  src/main/java/frc/utils/cycletime/CycleTimeConstants.java
  src/main/java/frc/utils/logger/LoggerFactory.java
Labels: feature-creation, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#224 Subsystems Log Path -> master
  src/main/java/frc/robot/constants/LogPaths.java
  src/main/java/frc/utils/GBSubsystem.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#239 Latency -> master
  src/main/java/frc/utils/devicewrappers/TalonFXWrapper.java
Labels: feature-improvment, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#237 Swerve Containers -> swerve constants
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/constants/SwerveConstantsContainer.java
  src/main/java/frc/robot/subsystems/swerve/constants/SwerveConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/gyro/factory/Pigeon2GyroContainer.java
  src/main/java/frc/robot/subsystems/swerve/gyro/factory/SwerveGyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2GyroSignals.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2GyroStatus.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/factory/ModuleFactory.java
  src/main/java/frc/robot/subsystems/swerve/modules/factory/SimulationModuleContainer.java
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModuleActions.java
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModuleConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModuleSignals.java
  src/main/java/frc/robot/subsystems/swerve/swervecontainer/RealSwerveContainer.java
  src/main/java/frc/robot/subsystems/swerve/swervecontainer/SimulationSwerveContainer.java
  src/main/java/frc/robot/subsystems/swerve/swervecontainer/SwerveFactory.java
Labels: feature-improvment, waiting-for-another-pr, needs-robot-testing, A-MEDIUM-PR

#242 Cancoders better
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModule.java
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModuleConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModuleSignals.java
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModuleStatus.java
  src/main/java/frc/robot/subsystems/swerve/swervecontainer/RealSwerveContainer.java
Labels: needs-robot-testing, feature-creation, A-SMALL-PR, needs-simulation-testing

#243 Better coupling
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModule.java
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModuleActions.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#247 Clone -> swerve
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2GyroConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModuleConfigObject.java
Labels: feature-improvment, needs-robot-testing, A-SMALL-PR, no-need-of-simulation-testing

#252 Gyro Simulation -> swerve
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/gyro/simulation/SimulationSwerveGyro.java
  src/main/java/frc/robot/subsystems/swerve/swervecontainer/SwerveFactory.java
Labels: feature-improvment, needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#251 Constants Record -> swerve
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
Labels: clean, no-need-of-robot-testing, no-need-of-simulation-testing

#255 Command builder -> swerve
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommands.java
Labels: feature-improvment, needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#257 Pose Commands
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommands.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#258 DI Bindings -> swerve
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing, clean

#260 Commands Builder -> swerve
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
Labels: needs-robot-testing, A-BIG-PR, needs-simulation-testing

#256 Const Global -> swerve
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/SimulationSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/constants/SwerveConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/RealModulesConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/SimulationModulesConstants.java
  src/main/java/frc/robot/subsystems/swerve/swervecontainer/SimulationSwerveContainer.java
  src/main/java/frc/robot/subsystems/swerve/swervecontainer/SwerveFactory.java
Labels: feature-improvment, needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#259 Modules -> swerve
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/Modules.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#263 Split PID -> swerve
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
Labels: fix-bug, A-SMALL-PR, needs-simulation-testing, no-need-of-robot-testing

#264 IsFieldConventionAlliance -> master
  src/main/java/frc/robot/constants/Field.java
  src/main/java/frc/utils/mirror/MirrorUtils.java
Labels: feature-creation, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#235 Autonomous Chooser -> pp-dev
  src/main/java/frc/utils/auto/AutonomousChooser.java
Labels: feature-creation, A-SMALL-PR, passed-all-tests

#265 Periodic -> swerve
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/poseestimation/PoseEstimator.java
  src/main/java/frc/robot/poseestimation/PoseEstimatorConstants.java
  src/main/java/frc/robot/poseestimation/posecalculation/PoseCalculator.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/gyro/pigeon2/Pigeon2GyroConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/modules/talonfx/TalonFXModuleConfigObject.java
  src/main/java/frc/robot/subsystems/swerve/odometryThread/PhoenixOdometryThread6328.java
  src/main/java/frc/utils/GBSubsystem.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#266 Modules loop -> swerve
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/Modules.java
  src/main/java/frc/robot/subsystems/swerve/modules/inputs/ModuleInputs.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#267 Loop Mode Insert
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/Modules.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#268 State DI -> swerve
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
Labels: fix-bug, feature-improvment, A-SMALL-PR, needs-simulation-testing, no-need-of-robot-testing

#202 Network Table Manager (python) -> master
  src/main/python/NetworkTableManager.py
Labels: feature-creation, A-SMALL-PR, passed-all-tests
