Repository GreenBlitz/GB-Robot-Template, pull requests merged in 2025-02, with the labels that each got.

#536 RobotHeadingEstimator -> poseestimator-master
  src/main/java/frc/constants/RobotHeadingEstimatorConstants.java
  src/main/java/frc/robot/poseestimator/PoseEstimatorMath.java
  src/main/java/frc/robot/poseestimator/helpers/DataAccumulator.java
  src/main/java/frc/robot/poseestimator/helpers/RobotHeadingEstimator.java
  src/main/java/frc/utils/buffers/RingBuffer/RingBuffer.java
  src/main/java/frc/utils/buffers/RingBuffer/RingBufferIterator.java
  src/main/java/frc/utils/math/AngleMath.java
  src/main/java/frc/utils/math/PoseMath.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#625 pe-bugfixes -> poseestimator-master
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/vision/RobotAngleValues.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/utils/AngleUnit.java
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#629 moving TimedValue to utils -> master
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/signal/AngleSignal.java
  src/main/java/frc/robot/hardware/signal/DoubleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedAngleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedDoubleSignal.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/robot/vision/sources/IndpendentHeadingVisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/utils/TimedValue.java
  src/main/java/frc/utils/pose/PoseUtil.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing, feature-update-version, ROBOT

#631 Yaw angle filter -> PE master
  src/main/java/frc/constants/VisionConstants.java
  src/main/java/frc/robot/vision/VisionFilters.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#632 PoseEstimator bugfixes -> poseestimator-master
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/poseestimator/helpers/RobotHeadingEstimator.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/utils/AngleUnit.java
  src/main/java/frc/utils/TriFunction.java
  src/main/java/frc/utils/math/PoseEstimationMath.java
  src/main/java/frc/utils/math/PoseMath.java
  src/main/java/frc/utils/math/StatisticsMath.java
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION
