Repository GreenBlitz/GB-Robot-Template, pull requests merged in 2025-05, with the labels that each got.

#646 CANDle wrapper -> master
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Util.java
  src/main/java/frc/robot/hardware/phoenix6/gyro/Pigeon2Wrapper.java
  src/main/java/frc/robot/hardware/phoenix6/leds/CANdleWrapper.java
  src/main/java/frc/robot/hardware/phoenix6/motors/TalonFXWrapper.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing

#683 Swerve calibration buttons -> master
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#684 Drive to path -> master
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#677 Update signal -> master
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/signal/AngleSignal.java
  src/main/java/frc/robot/hardware/signal/DoubleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedAngleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedDoubleSignal.java
  src/main/java/frc/robot/poseestimator/helpers/robotheadingestimator/RobotHeadingEstimator.java
  src/main/java/frc/utils/TimedValue.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, ROBOT

#687 get and update value - add to inputSignal -> master
  src/main/java/frc/robot/hardware/interfaces/InputSignal.java
  src/main/java/frc/robot/hardware/signal/DoubleSignal.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing
