Repository GreenBlitz/GB-Robot-Template, pull requests merged in 2025-01, with the labels that each got.

#555 Swerve State -> master
  src/main/java/frc/robot/subsystems/swerve/states/DriveRelative.java
  src/main/java/frc/robot/subsystems/swerve/states/DriveSpeed.java
  src/main/java/frc/robot/subsystems/swerve/states/LoopMode.java
  src/main/java/frc/robot/subsystems/swerve/states/RotateAxis.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveState.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssist.java
  src/main/java/frc/robot/subsystems/swerve/states/heading/HeadingControl.java
  src/main/java/frc/robot/subsystems/swerve/states/heading/HeadingStabilizer.java
Labels: feature-creation, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#507 Module -> master
  src/main/java/frc/constants/MathConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Calibrations.md
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/DriveCouplingInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/DriveInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/records/DriveRequests.java
  src/main/java/frc/robot/subsystems/swerve/module/records/DriveSignals.java
  src/main/java/frc/robot/subsystems/swerve/module/records/EncoderSignals.java
  src/main/java/frc/robot/subsystems/swerve/module/records/ModuleSpecificConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/records/SteerRequests.java
  src/main/java/frc/robot/subsystems/swerve/module/records/SteerSignals.java
Labels: feature-creation, A-BIG-PR, passed-all-tests

#559 :
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing

#563 Odometry Observation Fix -> master
  src/main/java/frc/robot/poseestimator/observations/OdometryObservation.java
Labels: bug-fix, feature-improvment, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#564 Set state swerve
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#557 Swerve Math -> master
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
  src/main/java/frc/robot/vision/VisionFilters.java
  src/main/java/frc/utils/math/MirrorMath.java
  src/main/java/frc/utils/math/PoseMath.java
  src/main/java/frc/utils/math/ToleranceMath.java
Labels: feature-creation, A-SMALL-PR, passed-all-tests

#546 SparkMax Alerts -> master
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
Labels: A-SMALL-PR, passed-all-tests

#548 SparkMax Simulation -> master
  src/main/java/frc/robot/hardware/rev/motors/BrushedSparkMAXMotor.java
  src/main/java/frc/robot/hardware/rev/motors/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
  src/main/java/frc/robot/hardware/rev/motors/simulation/SparkMaxSimulation.java
Labels: A-SMALL-PR, passed-all-tests

#565 Gui Config Improve -> core-swerve
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/utils/auto/PathPlannerUtils.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#569 Fix GBSubsystem asSubsystemCommand -> master
  src/main/java/frc/robot/subsystems/GBSubsystem.java
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#570 Swerve command -> swerve
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#534 Joystick manager -> Master
  src/main/java/frc/JoystickBindings.java
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/joysticks/BindSet.java
  src/main/java/frc/joysticks/JoystickConstants.java
  src/main/java/frc/joysticks/JoystickManager.java
  src/main/java/frc/joysticks/JoystickPorts.java
  src/main/java/frc/joysticks/SmartJoystick.java
Labels: A-SMALL-PR, passed-all-tests

#572 Object Aim Assist Fix -> core-swerve
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#573 Swerve update -> core-swerve
  src/main/java/frc/JoystickBindings.java
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/joysticks/BindSet.java
  src/main/java/frc/joysticks/JoystickConstants.java
  src/main/java/frc/joysticks/JoystickManager.java
  src/main/java/frc/joysticks/JoystickPorts.java
  src/main/java/frc/joysticks/SmartJoystick.java
Labels: needs-robot-testing, A-MEDIUM-PR, needs-simulation-testing

#558 Swerve -> master
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
  src/main/java/frc/utils/auto/PathPlannerUtils.java
Labels: feature-creation, A-MEDIUM-PR, passed-all-tests

#566 updated pplib vendor -> master
  src/main/deploy/pathplanner/navgrid.json
  src/main/deploy/pathplanner/settings.json
  vendordeps/PathPlannerLib.json
Labels: A-SMALL-PR, passed-all-tests, feature-update-version

#577 remove-joystick-manager-from-master -> Master
  src/main/java/frc/JoystickBindings.java
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/joysticks/BindSet.java
  src/main/java/frc/joysticks/JoystickConstants.java
  src/main/java/frc/joysticks/JoystickManager.java
  src/main/java/frc/joysticks/JoystickPorts.java
  src/main/java/frc/joysticks/SmartJoystick.java
Labels: A-SMALL-PR, passed-all-tests

#576 Alerts -> master
  src/main/java/frc/utils/alerts/Alert.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#501 poseestimator Limelight vision sources 🢧 poseestimator-master
  src/main/java/frc/constants/VisionConstants.java
  src/main/java/frc/robot/vision/GyroAngleValues.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/robot/vision/sources/IndpendentHeadingVisionSource.java
  src/main/java/frc/robot/vision/sources/RobotHeadingRequiringVisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightFactory.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightPoseEstimationMethod.java
  src/main/java/frc/utils/Conversions.java
  src/main/java/frc/utils/Filter.java
  src/main/java/frc/utils/pose/PoseUtils.java
Labels: waiting-for-another-pr, needs-robot-testing, A-MEDIUM-PR, no-need-of-simulation-testing, POSE ESTIMATION

#586 Calib Files -> master
  src/main/java/frc/acceptation.md
  src/main/java/frc/constants/field/FieldCalibrations.md
  src/main/java/frc/constants/field/calibrations.md
  src/main/java/frc/robot/subsystems/swerve/calibrations.md
  src/main/java/frc/robot/subsystems/swerve/module/calibrations.md
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#587 Limelight bugfix -> poseestimator-master
  src/main/java/frc/constants/VisionConstants.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightFactory.java
Labels: A-SMALL-PR, passed-all-tests, POSE ESTIMATION

#588 Remove
  src/main/java/frc/Acceptation.md
  src/main/java/frc/robot/subsystems/swerve/Calibrations.md
  src/main/java/frc/robot/subsystems/swerve/module/Calibrations.md
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#509 WPILib's PoseEstimator ⤐ poseestimator-master
  src/main/java/frc/robot/poseestimator/IVisionEstimator.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/vision/data/AprilTagVisionData.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/utils/math/StandardDeviations2D.java
  src/main/java/frc/utils/math/StandardDeviations3D.java
  src/main/java/frc/utils/pose/PoseUtils.java
Labels: A-SMALL-PR, passed-all-tests, POSE ESTIMATION

#589 MultiApriltagVisionSources offset bugfix -> poseestimator-master
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#592 logs
  src/main/java/frc/robot/subsystems/GBSubsystem.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveState.java
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#591 fix
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/module/records/ModuleSpecificConstants.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#593 Logs -> master
  src/main/java/frc/joysticks/SmartJoystick.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/hardware/phoenix6/BusChain.java
  src/main/java/frc/utils/alerts/Alert.java
  src/main/java/frc/utils/auto/PathPlannerUtils.java
  src/main/java/frc/utils/battery/BatteryConstants.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/logger/LoggerFactory.java
  src/main/java/frc/utils/time/TimeConstants.java
  src/main/java/frc/utils/time/TimeUtils.java
Labels: A-SMALL-PR, passed-all-tests

#590 Update versions
  build.gradle
  vendordeps/AdvantageKit.json
  vendordeps/Phoenix6.json
Labels: A-SMALL-PR, passed-all-tests

#596 bugfix of empty varags -> master
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#598 fix pdp id -> master
  src/main/java/frc/robot/IDs.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, ROBOT

#600 fix pdp id -> master
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/RobotConstants.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#601 MultiApriltagVisionSources bugfix 3 -> poseestimator-master
  build.gradle
  src/main/java/frc/acceptation.md
  src/main/java/frc/constants/VisionConstants.java
  src/main/java/frc/constants/field/FieldCalibrations.md
  src/main/java/frc/constants/field/calibrations.md
  src/main/java/frc/joysticks/SmartJoystick.java
  src/main/java/frc/robot/IDs.java
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/hardware/phoenix6/BusChain.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
  src/main/java/frc/robot/subsystems/GBSubsystem.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/calibrations.md
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/calibrations.md
  src/main/java/frc/robot/subsystems/swerve/states/SwerveState.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/utils/alerts/Alert.java
  src/main/java/frc/utils/auto/PathPlannerUtils.java
  src/main/java/frc/utils/battery/BatteryConstants.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/java/frc/utils/battery/BatteryUtils.java
  src/main/java/frc/utils/logger/LoggerFactory.java
  src/main/java/frc/utils/time/TimeConstants.java
  src/main/java/frc/utils/time/TimeUtils.java
  vendordeps/AdvantageKit.json
  vendordeps/Phoenix6.json
Labels: bug-fix, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#604 s
  src/main/java/frc/robot/RobotConstants.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#605 Renames build funcs -> master
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#585 Aim assist math -> master
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, ROBOT

#597 Poseestimator Master release 1.0 -> master
  src/main/java/frc/constants/VisionConstants.java
  src/main/java/frc/robot/poseestimator/IVisionEstimator.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/vision/GyroAngleValues.java
  src/main/java/frc/robot/vision/data/AprilTagVisionData.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/robot/vision/sources/IndpendentHeadingVisionSource.java
  src/main/java/frc/robot/vision/sources/RobotHeadingRequiringVisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightFactory.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightPoseEstimationMethod.java
  src/main/java/frc/utils/Conversions.java
  src/main/java/frc/utils/Filter.java
  src/main/java/frc/utils/math/StandardDeviations2D.java
  src/main/java/frc/utils/math/StandardDeviations3D.java
  src/main/java/frc/utils/pose/PoseUtils.java
Labels: A-BIG-PR, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#608 fix
  src/main/java/frc/robot/subsystems/swerve/calibrations.md
  src/main/java/frc/robot/subsystems/swerve/module/calibrations.md
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#610 Removed object supplier from swerve state handler
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#611 Clean Code Fixes -> poseestimator-master
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/signal/AngleSignal.java
  src/main/java/frc/robot/hardware/signal/DoubleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedAngleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedDoubleSignal.java
  src/main/java/frc/robot/poseestimator/IOdometryEstimator.java
  src/main/java/frc/robot/poseestimator/IVisionEstimator.java
  src/main/java/frc/robot/poseestimator/OdometryData.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/poseestimator/observations/OdometryObservation.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/vision/GyroAngleValues.java
  src/main/java/frc/robot/vision/RobotAngleValues.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/robot/vision/sources/IndpendentHeadingVisionSource.java
  src/main/java/frc/robot/vision/sources/RobotHeadingRequiringVisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/utils/TimedValue.java
  src/main/java/frc/utils/math/StandardDeviations2D.java
  src/main/java/frc/utils/math/StandardDeviations3D.java
  src/main/java/frc/utils/pose/PoseUtils.java
Labels: bug-fix, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#607 improved generics polymorphism for filters ↣ poseestimator-master
  src/main/java/frc/robot/vision/multivisionsources/MultiVisionSources.java
  src/main/java/frc/robot/vision/sources/VisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightFactory.java
  src/main/java/frc/utils/Filter.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#613 Apriltag Height Filter Fix -> poseestimator-master
  src/main/java/frc/robot/vision/VisionFilters.java
  src/main/java/frc/robot/vision/VisionUtils.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#621 Utils to Util -> master
  src/main/java/frc/RobotManager.java
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/ElevatorSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/FlywheelSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/SimpleMotorSimulation.java
  src/main/java/frc/robot/hardware/mechanisms/wpilib/SingleJointedArmSimulation.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Util.java
  src/main/java/frc/robot/hardware/phoenix6/gyro/Pigeon2Wrapper.java
  src/main/java/frc/robot/hardware/phoenix6/motors/TalonFXWrapper.java
  src/main/java/frc/robot/hardware/phoenix6/motors/simulation/TalonFXSimulation.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6AngleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6DoubleSignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6LatencySignal.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
  src/main/java/frc/robot/hardware/rev/REVUtil.java
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxWrapper.java
  src/main/java/frc/robot/hardware/rev/motors/simulation/SparkMaxSimulation.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedAngleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedDoubleSignal.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleUtil.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/records/ModuleSpecificConstants.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveStateHandler.java
  src/main/java/frc/robot/vision/sources/IndpendentHeadingVisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/utils/DriverStationUtil.java
  src/main/java/frc/utils/alerts/Alert.java
  src/main/java/frc/utils/auto/PathPlannerUtil.java
  src/main/java/frc/utils/battery/BatteryLimiter.java
  src/main/java/frc/utils/battery/BatteryUtil.java
  src/main/java/frc/utils/pose/PoseUtil.java
  src/main/java/frc/utils/time/TimeConstants.java
  src/main/java/frc/utils/time/TimeUtil.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT, POSE ESTIMATION, AUTONOMIM

#620 Field to Alliance relative -> master
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/states/DriveRelative.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveState.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
Labels: feature-improvment, A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#614 Limelight camera pose offset -> poseestimator-master
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightFactory.java
  src/main/java/frc/utils/AngleUnit.java
  src/main/java/frc/utils/pose/PoseUtils.java
Labels: feature-creation, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#618 Motion magic request -> master
  src/main/java/frc/robot/hardware/phoenix6/request/Phoenix6RequestBuilder.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing
