Repository GreenBlitz/GB-Robot-Template, pull requests merged in 2025-04, with the labels that each got.

#656 Rename -> master
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/module/records/ModuleSpecificConstants.java
  src/main/java/frc/robot/subsystems/swerve/states/SwerveState.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#647 Remove Global Constants -> master
  src/main/java/frc/constants/GlobalConstants.java
  src/main/java/frc/utils/DriverStationUtil.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#658 IDs class titles -> master
  src/main/java/frc/robot/IDs.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#664 Deadbands & SwerveMath clean -> master
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
Labels: A-SMALL-PR, passed-all-tests, clean, no-need-of-robot-testing, ROBOT

#657 Garbage collector -> master
  build.gradle
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#650 Improve Phoenix6 signals refresh -> master
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/hardware/phoenix6/BusChain.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/phoenix6/signal/Phoenix6SignalBuilder.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests, no-need-of-simulation-testing, ROBOT

#666 HeadingEstimator season -> poseestimator-master
  src/main/java/frc/robot/poseestimator/helpers/robotheadingestimator/RobotHeadingEstimator.java
  src/main/java/frc/robot/poseestimator/helpers/robotheadingestimator/RobotHeadingEstimatorConstants.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#651 Filters From season to PE master
  src/main/java/frc/robot/vision/VisionFilters.java
  src/main/java/frc/robot/vision/data/LimeLightAprilTagVisionData.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/utils/Filter.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#653 vision logging bugfix to master
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#654 odometry data optimization to master
  src/main/java/frc/robot/poseestimator/IOdometryEstimator.java
  src/main/java/frc/robot/poseestimator/OdometryData.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#652 VisionData optimizations on runtime time to [pending] Master
  src/main/java/frc/robot/vision/data/AprilTagVisionData.java
  src/main/java/frc/robot/vision/data/LimeLightAprilTagVisionData.java
  src/main/java/frc/robot/vision/data/VisionData.java
Labels: waiting-for-another-pr, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing, POSE ESTIMATION

#667 Swerve Current Control -> master
  src/main/java/frc/robot/hardware/phoenix6/request/Phoenix6RequestBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/records/DriveRequests.java
Labels: feature-creation, A-SMALL-PR, passed-all-tests, ROBOT

#668 [reopen] visionData optimizations
  src/main/java/frc/robot/vision/data/AprilTagVisionData.java
  src/main/java/frc/robot/vision/data/LimeLightAprilTagVisionData.java
  src/main/java/frc/robot/vision/data/VisionData.java
Labels: passed-all-tests, no-need-of-robot-testing, no-need-of-simulation-testing

#669 Chassis drive inputs -> master
  src/main/java/frc/JoysticksBindings.java
  src/main/java/frc/RobotManager.java
  src/main/java/frc/robot/subsystems/swerve/ChassisPowers.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, ROBOT

#670 Removed connected input from spark max -> master
  src/main/java/frc/robot/hardware/rev/motors/SparkMaxMotor.java
Labels: bug-fix, A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing, ROBOT

#671 Is near with pose2d and trans2d
  src/main/java/frc/joysticks/SmartJoystick.java
  src/main/java/frc/robot/hardware/signal/AngleSignal.java
  src/main/java/frc/robot/hardware/signal/DoubleSignal.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/vision/VisionFilters.java
  src/main/java/frc/utils/math/ToleranceMath.java
Labels: feature-creation, A-SMALL-PR, passed-all-tests, no-need-of-robot-testing

#672 Herman's CR to PE master
  src/main/java/frc/robot/poseestimator/OdometryData.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/poseestimator/helpers/robotheadingestimator/RobotHeadingEstimator.java
  src/main/java/frc/robot/poseestimator/helpers/robotheadingestimator/RobotHeadingEstimatorConstants.java
  src/main/java/frc/robot/vision/OrientationState3D.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/robot/vision/sources/RobotHeadingRequiringVisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/utils/AngleUnit.java
  src/main/java/frc/utils/Filter.java
  src/main/java/frc/utils/TriFunction.java
  src/main/java/frc/utils/buffers/RingBuffer/RingBuffer.java
  src/main/java/frc/utils/math/AngleMath.java
  src/main/java/frc/utils/math/PoseEstimationMath.java
  src/main/java/frc/utils/math/PoseMath.java
Labels: A-SMALL-PR, no-need-of-robot-testing, no-need-of-simulation-testing

#645 dynamic motion magic request -> master
  src/main/java/frc/robot/hardware/interfaces/IDynamicMotionMagicRequest.java
  src/main/java/frc/robot/hardware/interfaces/IMotionMagicRequest.java
  src/main/java/frc/robot/hardware/phoenix6/motors/TalonFXMotor.java
  src/main/java/frc/robot/hardware/phoenix6/request/Phoenix6DynamicMotionMagicRequest.java
  src/main/java/frc/robot/hardware/phoenix6/request/Phoenix6MotionMagicRequest.java
  src/main/java/frc/robot/hardware/phoenix6/request/Phoenix6RequestBuilder.java
Labels: A-SMALL-PR, passed-all-tests

#675 Robot thread priority -> master
  src/main/java/frc/RobotManager.java
Labels: feature-improvment, A-SMALL-PR, passed-all-tests

#630 Poseestimator Release 2.0 -> master
  src/main/java/frc/robot/poseestimator/IOdometryEstimator.java
  src/main/java/frc/robot/poseestimator/IVisionEstimator.java
  src/main/java/frc/robot/poseestimator/OdometryData.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorConstants.java
  src/main/java/frc/robot/poseestimator/WPILibPoseEstimator/WPILibPoseEstimatorWrapper.java
  src/main/java/frc/robot/poseestimator/helpers/DataAccumulator.java
  src/main/java/frc/robot/poseestimator/helpers/robotheadingestimator/RobotHeadingEstimator.java
  src/main/java/frc/robot/poseestimator/helpers/robotheadingestimator/RobotHeadingEstimatorConstants.java
  src/main/java/frc/robot/poseestimator/observations/OdometryObservation.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/vision/GyroAngleValues.java
  src/main/java/frc/robot/vision/OrientationState3D.java
  src/main/java/frc/robot/vision/VisionConstants.java
  src/main/java/frc/robot/vision/VisionFilters.java
  src/main/java/frc/robot/vision/VisionUtils.java
  src/main/java/frc/robot/vision/data/AprilTagVisionData.java
  src/main/java/frc/robot/vision/data/LimeLightAprilTagVisionData.java
  src/main/java/frc/robot/vision/data/VisionData.java
  src/main/java/frc/robot/vision/multivisionsources/MultiAprilTagVisionSources.java
  src/main/java/frc/robot/vision/multivisionsources/MultiVisionSources.java
  src/main/java/frc/robot/vision/sources/IndpendentHeadingVisionSource.java
  src/main/java/frc/robot/vision/sources/RobotHeadingRequiringVisionSource.java
  src/main/java/frc/robot/vision/sources/VisionSource.java
  src/main/java/frc/robot/vision/sources/limelights/DynamicSwitchingLimelight.java
  src/main/java/frc/robot/vision/sources/limelights/LimeLightSource.java
  src/main/java/frc/robot/vision/sources/limelights/LimelightFactory.java
  src/main/java/frc/utils/AngleUnit.java
  src/main/java/frc/utils/Filter.java
  src/main/java/frc/utils/TriFunction.java
  src/main/java/frc/utils/buffers/RingBuffer/RingBuffer.java
  src/main/java/frc/utils/buffers/RingBuffer/RingBufferIterator.java
  src/main/java/frc/utils/math/AngleMath.java
  src/main/java/frc/utils/math/PoseEstimationMath.java
  src/main/java/frc/utils/math/StandardDeviations2D.java
  src/main/java/frc/utils/math/StandardDeviations3D.java
  src/main/java/frc/utils/math/StatisticsMath.java
  src/main/java/frc/utils/pose/PoseUtil.java
Labels: A-BIG-PR, no-need-of-robot-testing, no-need-of-simulation-testing, feature-update-version, POSE ESTIMATION

#665 Post Season Autonomous
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/RobotManager.java
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomous/AutonomousConstants.java
  src/main/java/frc/robot/autonomous/AutosBuilder.java
  src/main/java/frc/robot/autonomous/PathFollowingCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/utils/auto/AutonomousChooser.java
  src/main/java/frc/utils/auto/PathHelper.java
  src/main/java/frc/utils/auto/PathPlannerAutoWrapper.java
  src/main/java/frc/utils/auto/PathPlannerUtil.java
  vendordeps/PathPlannerLib.json
Labels: feature-improvment, feature-creation, A-MEDIUM-PR, passed-all-tests, feature-update-version, AUTONOMIM

#676 Field math -> master
  src/main/java/frc/constants/field/Field.java
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
  src/main/java/frc/utils/math/AngleTransform.java
  src/main/java/frc/utils/math/FieldMath.java
  src/main/java/frc/utils/math/MirrorMath.java
  src/main/java/frc/utils/math/PoseMath.java
Labels: A-SMALL-PR, passed-all-tests, ROBOT

#679 Aim assist -> master
  src/main/java/frc/robot/subsystems/swerve/states/aimassist/AimAssistMath.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, ROBOT

#680 IsAtPose -> master
  src/main/java/frc/utils/math/ToleranceMath.java
Labels: A-SMALL-PR, passed-all-tests, no-need-of-robot-testing, ROBOT

#681 is at pose clean
  src/main/java/frc/utils/math/ToleranceMath.java
Labels: A-SMALL-PR, clean, no-need-of-robot-testing, no-need-of-simulation-testing
